*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.popups{
  text-align: center;
  margin-top: 200px;
}

img{
  height: 250px;
  width: 250px;
}

.popup-overlay {
  background-color: rgba(179, 179, 179, 0.5);
}

.popup-content{
  background-color: white;
  padding: 25px;
}
